.sellected {
    background-color: yellow;
    color: black;
    font-weight: bold;
}
#clock{
    font-size: 3vw;
    color: yellow;
    text-align: left;
    position: fixed;
    top:0%;
    width:100%; }


html, body {
    color: white;
    
    background-color: black;
    font-family: 'FreeUniversalRegular';
    margin: 0;
}
*{padding: 0;
margin: 0;}
.items {
    font-size: 5vw;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item {

}

h1{text-align: center;
font-size: 3vw;
padding: 0;
margin: 0;}

#title {}

.hidden {
    visibility: hidden;
    height: 0;
}
#bibles{
position: fixed;
bottom:0%;
width:100%;
	overflow:hidden;
	white-space:nowrap;
	    text-overflow: ellipsis;

}
#board {
    text-overflow: ellipsis;
    width: 100vw;
	overflow:hidden;
	white-space:nowrap;
}

#songs {
    text-overflow: ellipsis;
    width: 100vw;
	overflow:hidden;
	white-space:nowrap;
}

#table {
    text-overflow: ellipsis;
    width: 100vw;
	overflow:hidden;
	white-space:nowrap;
}
